/* AuthForm.css */
.auth-form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.auth-form-label {
    display: flex;
    margin-bottom: 5px;
}

.auth-form-input {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.auth-form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.auth-form-button:hover {
    background-color: #0056b3;
}
.auth-form-forgot-password {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.auth-form-forgot-password:hover {
    text-decoration: underline;
}
